<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.argina.touristapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SMS">
        </activity>
        <activity android:name=".AdminLogin" />

        <activity
            android:name=".AdminPanelActivity"
            android:label="@string/title_activity_admin_panel" />
        <activity android:name=".message.MessageActivity" />
        <activity android:name=".activity.AdminWeb" />
        <activity android:name=".activity.CustomDeals" />
        <activity android:name=".displaycategory.PackageZone" />
        <activity android:name=".history.History" />
        <activity android:name=".booking.BookingSummary" />
        <activity
            android:name=".activity.BookNow"
            android:label="@string/title_activity_book_now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".displaycategory.PlaceActivity" />
        <activity
            android:name=".hotelroom.HotelRoomActivity"
            android:label="@string/title_activity_hotel_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".displaydetails.Tips" />
        <activity android:name=".hotel.HotelActivity" />
        <activity
            android:name=".activity.SplashScreen"
            android:label="TouristApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".displaydetails.DescriptionDisplay" />
        <activity android:name=".home.MainActivity" />

    </application>

</manifest>